body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, 
              hsl(39, 100%, 50%),   
              hsl(16, 100%, 58%),   
              hsl(348, 83%, 47%),   
              hsl(0, 100%, 27%),    
              hsl(240, 100%, 50%),  
              hsl(207, 49%, 49%),  
              hsl(195, 100%, 50%),  
              hsl(176, 64%, 41%),   
              hsl(146, 39%, 36%),  
              hsl(120, 61%, 50%)   
              );
    color: #333;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-width: auto;
    margin: auto;
    /* padding: 10px;s */
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 10px;
}

.header {
    text-align: center;
  }

.logo {
    font-family: 'Comic Sans MS', cursive;
    font-size: 2.5rem;
    background: linear-gradient(to right, 
                #FFA500,  
                #FF6347, 
                #DC143C,  
                #8B0000,  
                #0000FF,  
                #4682B4, 
                #00BFFF,  
                #20B2AA,  
                #2E8B57,  
                #32CD32  
                );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
  }
  
  .tagline {
    border-radius: 10px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.1rem;
    color: #ffffff;
    background: linear-gradient(to right, 
                #FFA500,  
                #FF6347, 
                #DC143C,  
                #8B0000,  
                #0000FF,  
                #4682B4, 
                #00BFFF,  
                #20B2AA,  
                #2E8B57,  
                #32CD32  
                );
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 15px;
  }

  #loadAllResults, #loadResultsSparately {
    display: inline-block; 
    margin-right: 25px; 
}

.disabled-button {
    background-color: #0056b3; /* 更改背景颜色 */
    color: #999999; /* 更改文字颜色 */
    cursor: not-allowed; /* 更改鼠标样式 */
    border: 1px solid #999999; /* 更改边框样式 */
}

.wapper {
    border: 3px dashed;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
    background-color: #f4f5f6;
}

#ignoredWords, #errorSection{
    display: block;
    margin: 0 auto; /* Center horizontally */
    max-width: 100%; /* Set a max width */
    text-align: center; 
}

h1 {
    color: #0056b3;
    text-align: center;
}

button {
    display: block;
    width: 250px;
    padding: 15px;
    margin: 20px auto;
    background: linear-gradient(to right,  #1050cf,  #1062c0,  #1050cf,  #1062c0,  #1050cf,  #1062c0,  #1050cf); 
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 16px;
     font-weight: bold;
}

button:hover {
    background: linear-gradient(to right, green, #4CAF50, green, #4CAF50, green, #4CAF50, green);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: left;
    background-color: #f2f2f2;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}
h2 {
    color: #004085;
}

h3 {
    color: #0275d8;
    padding-top: 13px;
}

.result-section h2 {
    cursor: pointer;
}


.result-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


.results-grid {
    display: flex;
    justify-content: space-between;
}

.result-column {
    width: 32%; /* Divide space between 3 columns */
    background-color: #f4f4f4;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 20px 45px rgba(0,0,0,0.1);
}

.toggle-button {
    background: linear-gradient(to right, green, #4CAF50, green, #4CAF50, green, #4CAF50, green);
    color: white;
    padding: 15px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
    border-radius: 9px;
}


.toggle-button:hover {
    background: linear-gradient(to right, #1050cf,  #1062c0,  #1050cf,  #1062c0,  #1050cf,  #1062c0,  #1050cf);
    color: white;
    padding: 15px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
    border-radius: 9px;
}





